<main>
	<h1>Let's chat.</h1>
	<p>Have a project you want to work on together? Or perhaps you'd just like to say hello?</p>
</main>
<section>
	<h2>Drop me a line</h2>
	<ul class="contact-info">
		<li class="contact-li"><img src="img/icons/email-icon.svg" alt="Email Icon" class="contact-icon"><a href="mailto:ktkienin@gmail.com">email</a></li>
		<li class="contact-li"><img src="img/icons/phone-icon.svg" alt="Phone Icon" class="contact-icon"><a href="tel:586-899-8340">phone</a></li>
	</ul>
	<p>Let's start a conversation.</p>
</section>