
<main>
	<h1>Oh, hello.</h1>
	<p>My name is Kevin Kieninger. I'm a front-end web developer based in Metro Detroit.</p>
	
	<p>Outside of work, you can often find my nose in a book, raising hell in Ferndale or hitting the road for a long weekend. I love great people, good beer and discovering the most complicated way to make the best cup of coffee. </p>
	<img src="img/kev_homepage.png" alt="Kevin Kieninger Headshot" class="homepage-photo">
</main>
<section>
	<h2>current</h2>
	<ul class="work">
		<li><a href="http://www.deepcanvas.com" target="_blank" class="bold">deep canvas</a>, <em>Web Developer</em> (December 2015 - Current)</li>
	</ul>
</section>
<section>
	<h2>Previous</h2>
	<ul class="previous-work">
		<li><a href="http://www.roundtable6.com" target="_blank" class="bold">roundtable6</a>, <em>Project Manager</em> (March 2015 - August 2015)</li>
		<li><a href="http://www.identitypr.com" target="_blank" class="bold">Identity</a>, <em>Account Assistant</em> (June 2014 - March 2015)</li>
		<li><a href="http://www.americanhouse.com" target="_blank" class="bold">American House Senior Living Communities</a>, <em>Director of Communications</em> (September 2012 - June 2014)</li>
	</ul>
</section>
<section>
	<!-- http://alonso.codes/ -->
	<h2>Skills & Proficiencies</h2>
	<div class="skills-wrap">
		<h3 class="tech-label">Front End</h3>
		<div class="frontend skill-section">
			<div class="tech">
				HTML5
			</div>
			<div class="tech">
				CSS3
			</div>
			<div class="tech">
				Sass
			</div>
			<div class="tech">
				JavaScript
			</div>
			<div class="tech">
				jQuery
			</div>
			<div class="tech">
				AngularJS 1.x
			</div>
		</div>
		<h3 class="tech-label">Back End</h3>
		<div class="backend skill-section">
			<div class="tech">
				PHP
			</div>
		</div>
		<h3 class="tech-label">Tools</h3>
		<div class="tools skill-section">
			<div class="tech">
				WordPress
			</div>
			<div class="tech">
				Adobe Photoshop
			</div>
			<div class="tech">
				Adobe Illustrator
			</div>
			<div class="tech">
				Gulp
			</div>
			<div class="tech">
				Git
			</div>
		</div>
	</div> 
</section>
<section>
	<h2>Education & Training</h2>
	<ul class="education">
		<li><a href="http://www.oakland.edu" target="_blank" class="bold">Oakland University</a>, B.A. Psychology / B.A. Communications, May 2011</li>
		<li><a href="http://www.grandcircus.co" target="_blank" class="bold">Grand Circus Detroit</a>, JavaScript Bootcamp, October 2015</li>
	</ul>

</section>


