<section>
	<h1>portfolio</h1>
	<div class="portfolio-item">
		<a href="//www.cinnaire.com/" target="_blank">
			<img src="./img/img-cinnaire.png" alt="Cinnaire">
		</a>
		<div>
			<a href="//www.cinnaire.com/" target="_blank">
				<h3>Cinnaire</h3>
			</a>
			<div class="clear"></div>
			<span>WordPress</span>
			<span>CSS/SCSS</span>
			<span>Bulma</span>
			<span>HTML5</span>
			<span>PHP</span>
			<span>JavaScript/jQuery</span>
			<span>Responsive</span>
			<span>Gulp</span>
		</div>
	</div>
	<div class="portfolio-item">
		<a href="//winintelligence.org/" target="_blank">
			<img src="./img/img-win-portfolio.png" alt="Workforce Intelligence Network">
		</a>
		<div>
			<a href="//winintelligence.org/" target="_blank">
				<h3>Workforce Intelligence Network</h3>
			</a>
			<div class="clear"></div>
			<span>WordPress</span>
			<span>CSS/SCSS</span>
			<span>Bootstrap</span>
			<span>HTML5</span>
			<span>PHP</span>
			<span>JavaScript/jQuery</span>
			<span>Responsive</span>
			<span>Gulp</span>
		</div>
	</div>
	<div class="portfolio-item">
		<a href="//businessleadersformichigan.com/" target="_blank">
			<img src="./img/img-blm.png" alt="Business Leaders for Michigan">
		</a>
		<div>
			<a href="//businessleadersformichigan.com/" target="_blank">
				<h3>Business Leaders for Michigan</h3>
			</a>
			<div class="clear"></div>
			<span>WordPress</span>
			<span>CSS/SCSS</span>
			<span>Bootstrap</span>
			<span>HTML5</span>
			<span>PHP</span>
			<span>JavaScript/jQuery</span>
			<span>Responsive</span>
			<span>Gulp</span>
		</div>
	</div>
	<div class="portfolio-item">
		<a href="//msufpa.com/" target="_blank">
			<img src="./img/img-msufpa.png" alt="Michigan State Football Players Association">
		</a>
		<div>
			<a href="//msufpa.com/" target="_blank">
				<h3>Michigan State Football Players Association</h3>
			</a>
			<div class="clear"></div>
			<span>WordPress</span>
			<span>CSS/SCSS</span>
			<span>Bootstrap</span>
			<span>HTML5</span>
			<span>PHP</span>
			<span>JavaScript/jQuery</span>
			<span>Responsive</span>
			<span>Gulp</span>
		</div>
	</div>
</section>